{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<section class="masthead py-4 bg-image-sign-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 text-center">
        <h2 id="signup_heading">{% trans "Sign Up" %}</h2>

        <p class="fs-5 fw-normal">{% blocktrans %}
          Welcome back to Unchained.
          Do you already have an account? Then please
          <a class="link" href="{{ login_url }}" aria-label="Click here to sign in if you already have an account">
            sign in
          </a>
          instead.
          {% endblocktrans %}
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-8 mt-3 offset-md-3 font-monospace fw-medium">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% if field.help_text %}
          <div class="mb-2">{{ field.help_text }}</div>
          {% endif %}
          <div class="text-danger fw-bolder mb-2">
            <ul>
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-secondary" type="submit" aria-label="Create your account">
            {% trans "Sign Up" %} &raquo;
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}