{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">

    <h2 class="text-center">Welcome to the chat room: <strong id="chat-representation">{{ chat_room }}</strong></h2>
    
    <!-- Chat log container with Bootstrap styling -->
    <div id="chat-log" class="border rounded p-3"
        style="width: 100%; height: 300px; overflow-y: scroll; background-color: #f9f9f9;">
        <!-- Messages will be dynamically added here -->
    </div><br>

    <!-- Message input section -->
    <div class="input-group mb-3">
        <input id="chat-message-input" type="text" class="form-control me-1" placeholder="Type a message...">
        <button id="chat-message-submit" class="btn btn-primary" type="button">Send</button>
    </div>

    <!-- Storing the room name for the WebSocket connection -->
    {{ chat_room.name|json_script:"room-name" }}
    {{ current_user|json_script:"current-user" }}

</div>

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const currentUser = JSON.parse(document.getElementById('current-user').textContent);
    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const chatSocket = new WebSocket(
        protocol + window.location.host + '/ws/chat/' + roomName + '/'
    );

    // When a message is received
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const messageContainer = document.getElementById('chat-log');
        const chatRepresentation = document.getElementById('chat-representation');

        chatRepresentation.innerHTML = data.chat_representation;

        // Format the message and display it with different colors based on the sender
        const class_color = data.sender == currentUser ? 'text-success' : 'text-primary';

        const messageHTML = `
            <div class="${class_color}">
                <strong>${data.sender}</strong> <span class="text-muted" style="font-size: 0.9rem;">${data.timestamp}</span><br>
                ${data.message}
            </div><hr>
        `;
        messageContainer.innerHTML += messageHTML;
        messageContainer.scrollTop = messageContainer.scrollHeight;
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.key === 'Enter') {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';  // Clear the input field after sending
    };
</script>

{% endblock content %}